.custom-button {
  @mixin mod($mod) {
    @include modifier("custom-button", $mod) {
      @content;
    }
  }

  position: relative;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  @include option(width, 180, 312);
  @include option(min-width, 0);
  @include option(height, 55);
  max-width: 100%;
  padding: 0;
  font-family: $BASE-FONT;
  @include option(font-size, 20);
  font-weight: 400;
  text-decoration: none;
  background-color: rgba(46, 236, 197, 0.1);
  border: 2px solid #2eecc5;
  @include option(border-radius, 49);
  cursor: pointer;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;

  &_about {
    @include option(width, 200);

    .custom-button__text {
      @include option(padding, 0 15 0 0);
      @include option(font-size, 18);
      font-weight: 600;
      letter-spacing: 0.03em;
    }

    .custom-button__icon {
      @include option(height, 16);
      @include option(margin, 0 0 5);
    }

    svg {
      height: 100%;
    }
  }

  &_reasons {
    position: relative;
    z-index: 5;
    @include option(width, 196);
    @include option(height, 53);
    @include option(margin, 47 0 0 3);

    @include option(border-radius, 4);
    background-color: $BG;
    box-shadow: 0 0 38px 0 rgba(46, 236, 197, 0.2);

    &::before {
      position: absolute;
      @include option(top, 9);
      @include option(left, 7);
      z-index: 4;

      content: "";
      display: block;
      @include option(width, 196);
      @include option(height, 53);

      border: 2px solid rgba(46, 236, 197, 0.4);
      @include option(border-radius, 4);
    }

    .custom-button__text {
      @include option(font-size, 19);
      font-weight: 600;
    }
  }
}
