.custom-button {
  @mixin mod($mod) {
    @include modifier("custom-button", $mod) {
      @content;
    }
  }

  position: relative;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  @include option(width, 180, 312);
  @include option(min-width, 0);
  @include option(height, 55);
  max-width: 100%;
  padding: 0;
  font-family: $BASE-FONT;
  @include option(font-size, 20);
  font-weight: 400;
  text-decoration: none;
  background-color: rgba(46, 236, 197, 0.1);
  border: 2px solid #2eecc5;
  @include option(border-radius, 49);
  cursor: pointer;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;

  &_about {
    @include option(width, 200);

    .custom-button__text {
      position: relative;
      @include option(padding, 0 21 0 0);
      @include option(font-size, 18);
    }

    .custom-button__icon {
      @include option(height, 16);
      @include option(margin, 0 0 5);
    }

    svg {
      height: 100%;
    }
  }
}
