.custom-menu {
  // Константы
  @mixin mod($mod) {
    @include modifier("custom-menu", $mod){
      @content;
    }
  }

  @mixin item($mod) {
    @include modifier("custom-menu__item", $mod){
      @content;
    }
  }

  display: flex;
  align-items: center;
  @include option(gap, 87);

  &__list {
    display: flex;
    @include option(gap, 41);
    margin: 0;
    padding: 0;
  }

  &__item{
    display: inline-block;
    vertical-align: middle;

    @include is-burger{
      display: block;
      margin-bottom: 10px;
    }

    &:hover {
      .custom-menu__item-link{
        color: $WHITE;
        //border-bottom: 1px solid $WHITE;
      }
    }

  }

  &__item-link{
    @include option(padding, 12 0);
    font-family: $BASE-FONT;
    @include option(font-size, 19);
    font-weight: 400;
    letter-spacing: 0.01em;
    text-decoration: none;
    white-space: nowrap;
    color: $WHITE;
    transition: color 0.3s;

    @include is-burger{
      font-size: 20px;
    }
  }
}
